body {
    background: url("../vendor/media/bgrounds/light-gray-micro-carbon.png");
}

/*Боковое меню*/
#sidebar-wrapper {
    background: #4a0404;
    padding-top: 10px;
    padding-bottom: 15px;
}
#sidebar-wrapper  ul li {
    font-size: 20px;
}
#sidebar-wrapper  ul li ul  {
    padding: 0; /* Убираем поля */
    margin-left: 18px; /* Отступ слева */
}
#sidebar-wrapper  ul li ul li  {
    font-size: 15px;
    list-style-type: none;
}

#sidebar-wrapper  ul li ul li  {
    font-size: 15px;
    list-style-type: none;
}

#menu-toggle {
    color: #1a1a1b;
    background-color: transparent;
    background-image: none;
    border-color: #0a0a0a;
}
#menu-toggle:hover {
    background-color: #560707;
    border-color: #420606;
}
#top-menu{
    background-color: #c7aaa452;

}

#wrapper #footer {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #footer {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed;
    left:  250px;
}

#name-is{
    font-size: 14pt;
}


.btn-secondary {
    background-color: #4a0404;
}

#footer{
  background-color: #617175; height: 50px;
}

.form-group.row {
    border-style: outset ;
    border-width: 2px;
}

#wrapper .panel_buttom {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: 40%;

}

#wrapper.toggled .panel_buttom {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left:  calc(33% + 250px);
}

.panel_buttom{
    position: fixed;
    bottom: 50px;
    width: 20%;
    background-color: #737174;
    border: 2px solid #580404;
    border-radius: 15px;
}
