{% extends "base.html" %}
{% block name_page %}<i class="far fa-info"></i>&nbsp;&nbsp;О программе {% endblock name_page %}
{% block content %}
<div class="container-fluid my-2">
	<div class="row d-flex justify-content-center ">
		<div class="col-5">
			<p>Справочная информационная система «ИГБРВ» предназначена для расчета индивидуального годового бюджета рабочего времени преподавателя и в последующем создания отчетных документов.</p>
			<p>Разработчик:</p> <p>курсант 5 курса Пермского военного института ВНГ РФ факультета связи</p><p>рядовой Пащенко А.В.</p>
		
		</div>
	</div>
</div>
{% endblock content %}