{% extends "base.html" %}
{% block name_page %}<i class="fas fa-database"></i>&nbsp;&nbsp;Архив {% endblock name_page %}
{% block content %}
    <div class="container-fluid my-2" >
        <div class="row d-flex justify-content-center" style="margin-bottom: 60px">
            <div class="col-8">
                <h6>Записи</h6>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">№ п/п</th>
                        <th scope="col">Дата</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>01.01.0000</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}