{% extends "base.html" %}
{% block name_page %}<i class="fas fa-calculator"></i>&nbsp;&nbsp;<i class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;Командирская подготовка{% endblock name_page %}
{% block content %}
    <div class="container-fluid my-2">
        <div class="row d-flex justify-content-center">
            <form method="post" action="" id="commander_form_id" style="min-width: 100%">{% csrf_token %}
                <div style="margin-bottom: 90px">
                    <div class="form-group row">
                        <label for="F1" class="col-10 col-form-label col-form-label-sm">1. Занятия по командирской подготовке</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="F1" min="0"  value=0>
                            <small id="F1" class="form-text text-muted">Ввод количества часов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="F2" class="col-10 col-form-label col-form-label-sm">2. Общие мероприятия (смотры, совещания, информирование и т.п)</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="F2" min="0"  value=0>
                            <small id="F2" class="form-text text-muted">Ввод количества часов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="F3" class="col-10 col-form-label col-form-label-sm">3. Выполнение индивидуальных заданий </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="F3" min="0"  value=0>
                            <small id="F3" class="form-text text-muted">Ввод количества часов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="F4" class="col-10 col-form-label col-form-label-sm">4. Самостоятельная работа</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="F4" min="0"  value=0>
                            <small id="F4" class="form-text text-muted">Ввод количества часов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="F5" class="col-10 col-form-label col-form-label-sm">5. Физическая подготовка</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="F5" min="0"  value=0>
                            <small id="F5" class="form-text text-muted">Ввод количества часов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="F6" class="col-10 col-form-label col-form-label-sm">6. Повышение квалификации</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="F6" min="0"  value=0>
                            <small id="F6" class="form-text text-muted">Ввод количества часов.</small>
                        </div>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center panel_buttom">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-outline-dark" form="commander_form_id">СОХРАНИТЬ РЕЗУЛЬТАТ</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}