{% extends "base.html" %}
{% block name_page %}<!--suppress ALL -->
    <i class="fas fa-calculator"></i>&nbsp;&nbsp;<i class="fas fa-book"></i>&nbsp;&nbsp;Методическая работа{% endblock name_page %}
{% block content %}
    <div class="container-fluid my-2">
        <div class="row d-flex justify-content-center">
            <form method="post" action="">{% csrf_token %}
                <div class="form-group row">
                    <label for="Y1" class="col-10 col-form-label col-form-label-sm">1. Разработка программ учебных дисциплин по вновь вводимым учебным дисциплинам и подготовка их к изданию</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y1" value=0>
                        <small id="Y1" class="form-text text-muted">Ввод часов дисциплины.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Y2" class="col-10 col-form-label col-form-label-sm">2. Переработка программ учебных дисциплин и подготовка их к изданию</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y2" value=0>
                        <small id="Y2" class="form-text text-muted">Ввод часов дисциплины.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Y4" class="col-10 col-form-label col-form-label-sm">3. Разработка тематических планов изучения учебных дисциплин</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y4" value=0 >
                        <small id="Y4" class="form-text text-muted">Ввод часов дисциплины.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Y6" class="col-10 col-form-label col-form-label-sm">4. Разработка лекций военных (военно-специальных) игр по вновь вводимой дисциплине и подготовка их к изданию</label>
                    <div class="col-2  my-1">
                        <input type="radio" name="Y6-Y8" value="Y6" onchange="switch_item(Y6.id, Y8.id)" checked>
                        <input type="number" class="form-control form-control-sm" id="Y6" value=0>
                        <small id="Y6" class="form-text text-muted">Ввод количества лекций.</small>
                    </div>
                    <label for="Y8" class="col-10 col-form-label col-form-label-sm">4.1 Тактические и тактико-специальные дисциплины</label>
                    <div class="col-2 my-1">
                        <input type="radio" name="Y6-Y8"  value="Y8" onchange="switch_item(Y8.id, Y6.id)">
                        <input type="number" class="form-control form-control-sm" id="Y8" value=0 disabled>
                        <small id="Y8" class="form-text text-muted">Ввод количества лекций.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Y10" class="col-10 col-form-label col-form-label-sm">5. Переработка лекций и подготовка их к изданию</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y10" value=0>
                        <small id="Y10" class="form-text text-muted">Ввод количества лекций.</small>
                    </div>
                    <label for="Y12" class="col-10 col-form-label col-form-label-sm">5.1 Тактические и тактико-специальные дисциплины</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y12" value=0>
                        <small id="Y12" class="form-text text-muted">Ввод количества лекций.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Y14" class="col-10 col-form-label col-form-label-sm">6. Разработка планов для проведения семинаров</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y14" value=0>
                        <small id="Y14" class="form-text text-muted">Ввод количества планов.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-10 col-form-label col-form-label-sm">7. Разработка и подготовка к изданию учебно-методических материалов (УММ) для проведения занятий по всем видам учебных дисциплин, кроме тактических и тактико-специальных дисциплин (без ЭВМ)</label>
                    <label for="Y16" class="col-10 col-form-label col-form-label-sm">7.1 Издание</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y16" value=0>
                        <small id="Y16" class="form-text text-muted">Ввод количества занятий.</small>
                    </div>
                    <label for="Y18" class="col-10 col-form-label col-form-label-sm">7.2 Переиздание</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y18" value=0>
                        <small id="Y18" class="form-text text-muted">Ввод количества занятий.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Y20" class="col-10 col-form-label col-form-label-sm">8. Разработка описаний и подготовка УММ для проведения новых лабораторных работ</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y20" value=0>
                        <small id="Y20" class="form-text text-muted">Ввод количества ЛР.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Y22" class="col-10 col-form-label col-form-label-sm">9. Переработка описаний и модернизация лабораторных работ</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y22" value=0>
                        <small id="Y22" class="form-text text-muted">Ввод количества ЛР.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Y26" class="col-10 col-form-label col-form-label-sm">10. Разработка заданий на контрольные работы (по тактико-специальным/по др. учебным дисциплинам)</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y26" value=0>
                        <small id="Y26" class="form-text text-muted">Ввод количества заданий.</small>
                    </div>
                    <label for="Y24" class="col-10 col-form-label col-form-label-sm">10.1 Тактические и тактико-специальные дисциплины</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y24" value=0>
                        <small id="Y24" class="form-text text-muted">Ввод количества заданий.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Y28" class="col-10 col-form-label col-form-label-sm">11. Разработка методических материалов для выполнения дипломных (курсовых) работ (проектов) макетов учебных дел</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y28" value=0>
                        <small id="Y28" class="form-text text-muted">Ввод количества заданий.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Y30" class="col-10 col-form-label col-form-label-sm">12. Разработка для слушателей заочников новых методических указаний по изучению учебной дисциплины (курса) с заданиями и контрольными работами</label>
                    <div class="col-2  my-1">
                        <input type="number" class="form-control form-control-sm" id="Y30" value=0>
                        <small id="Y30" class="form-text text-muted">Ввод часов дисциплины.</small>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
    function switch_item(val1, val2){
        console.log(val1, val2);
        $('#' + val1).prop("disabled", false);
        {#$('#' + val2).attr("hidden", true).val(0);#}
        $('#' + val2).prop("disabled", true).val(0);
    }

    </script>
{% endblock content %}