{% extends "base.html" %}
{% block name_page %}<i class="fas fa-calculator"></i>&nbsp;&nbsp;<i class="fas fa-flask"></i>&nbsp;&nbsp;Научная деятельность{% endblock name_page %}
{% block content %}
    <div class="container-fluid my-2">
        <div class="row d-flex justify-content-center">
            <form method="post" action="" id="science_form_id" style="min-width: 100%">{% csrf_token %}
                <div style="margin-bottom: 90px;">
                    <div class="form-group row">
                        <label for="Z" class="col-10 col-form-label col-form-label-sm">1. Выполнение плановых научных, научно-исследовательских опытно-конструкторских работ</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z" min="0" value=0>
                            <small id="Z" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z2" class="col-10 col-form-label col-form-label-sm">2. Разработка неоплачиваемых научных трудов, монографий, научных статей; подготовка докладов и научных сообщений на научных конференциях, научных совещаниях, семинарах и симпозиумах</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z2" min="0" value=0>
                            <small id="Z2" class="form-text text-muted">Ввод количества авторских листов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">3. Разработка и подготовка к изданию учебников, предусмотренных планами издания</label>
                        <label for="Z3" class="col-10 col-form-label col-form-label-sm">3.1 Издаваемое впервые</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Z3-Z5" onchange="trigger_el([Z3.id, Z5.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Z3" min="0" value=0>
                            <small id="Z3" class="form-text text-muted">Ввод количества авторских листов.</small>
                        </div>
                        <label for="Z5" class="col-10 col-form-label col-form-label-sm">3.2 Переиздание</label>
                        <div class="col-2 my-1">
                            <input type="radio" name="Z3-Z5" value="Z5" onchange="trigger_el([Z5.id, Z3.id])">
                            <input type="number" class="form-control form-control-sm" id="Z5" min="0" value=0 disabled>
                            <small id="Z5" class="form-text text-muted">Ввод количества авторских листов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">4. Разработка учебных пособий, и подготовка их к изданию </label>
                        <label for="Z7" class="col-10 col-form-label col-form-label-sm">4.1 Издаваемое впервые</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Z7-Z9" onchange="trigger_el([Z7.id, Z9.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Z7" min="0" value=0>
                            <small id="Z7" class="form-text text-muted">Ввод количества авторских листов.</small>
                        </div>
                        <label for="Z9" class="col-10 col-form-label col-form-label-sm">4.2 Переиздание</label>
                        <div class="col-2 my-1">
                            <input type="radio" name="Z7-Z9" value="Z9" onchange="trigger_el([Z9.id, Z7.id])">
                            <input type="number" class="form-control form-control-sm" id="Z9" min="0" value=0 disabled>
                            <small id="Z9" class="form-text text-muted">Ввод количества авторских листов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z11" class="col-10 col-form-label col-form-label-sm">5. Разработка и подготовка к изданию программированных учебных пособий </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z11" min="0" value=0>
                            <small id="Z11" class="form-text text-muted">Ввод количества авторских листов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z13" class="col-10 col-form-label col-form-label-sm">6. Разработка и подготовка к изданию педагогических сценариев и алгоритмов функционирования автоматизированных обучающих систем </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z13" min="0" value=0>
                            <small id="Z13" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z14" class="col-10 col-form-label col-form-label-sm">7. Участие в разработке уставов, наставлений, положений, руководств, инструкций и других документов </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z14" min="0" max="100" value=0>
                            <small id="Z14" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z15" class="col-10 col-form-label col-form-label-sm">8. Участие в опытных и исследовательских учениях, в работе комиссий по приемке научных работ, испытаниях и приемке нового вооружения, военной техники и учебно-тренировочных средств </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z15" min="0" value=0>
                            <small id="Z15" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z16" class="col-10 col-form-label col-form-label-sm">9. Участие в научных (теоретических) конференциях, научных совещаниях, семенарах и симпозиумах </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z16" min="0" value=0>
                            <small id="Z16" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z17" class="col-10 col-form-label col-form-label-sm">10. Обобщение результатов научных конференций, научных совещаний семинаров, симпозиумов, опытных и исследовательских учений </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z17" min="0" value=0>
                            <small id="Z17" class="form-text text-muted">Ввод количества авторских листов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z19" class="col-10 col-form-label col-form-label-sm">11. Участие в работе ученого совета военно-учебного заведения (факультета) и диссертационных советов </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z19" min="0" max="60" value=0>
                            <small id="Z19" class="form-text text-muted">Ввод фактических затрат времени. </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z20" class="col-10 col-form-label col-form-label-sm">12. Участие в работе конкурсных комиссий по рассмотрению научных работ, выполненных профессорско-преподавательским составом в военно-учебных заведениях </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z20" min="0" max="20" value=0>
                            <small id="Z20" class="form-text text-muted">Ввод фактических затрат времени. </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z21" class="col-10 col-form-label col-form-label-sm">13. Участие в работе конкурсных комиссий по рассмотрению научных работ слушателей и курсантов </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z21" min="0" max="20" value=0>
                            <small id="Z21" class="form-text text-muted">Ввод фактических затрат времени. </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">14. Руководство военно-научной работой слушателей и курсантов </label>
                        <label for="Z22" class="col-10 col-form-label col-form-label-sm">14.1 Разработка тем рефератов</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Z22-Z24" onchange="trigger_el([Z22.id, Z24.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Z22" min="0" value=0>
                            <small id="Z22" class="form-text text-muted">Ввод количества членов военно-научного совета.</small>
                        </div>
                        <label for="Z24" class="col-10 col-form-label col-form-label-sm">14.2 Проведение экспериментальных работ</label>
                        <div class="col-2 my-1">
                            <input type="radio" name="Z22-Z24"  onchange="trigger_el([Z24.id, Z22.id])">
                            <input type="number" class="form-control form-control-sm" id="Z24" min="0" value=0 disabled>
                            <small id="Z24" class="form-text text-muted">Ввод количества авторских листов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z26" class="col-10 col-form-label col-form-label-sm">15. Проведение научных консультаций с докторантами </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z26" min="0"  value=0>
                            <small id="Z26" class="form-text text-muted">Ввод количества докторантов. </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z28" class="col-10 col-form-label col-form-label-sm">16. Рецензирование научных трудов и научно-исследовательских работ, диссертаций, учебников, учебных пособий, монографий, конкурсных материалов </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z28" min="0"  value=0>
                            <small id="Z28" class="form-text text-muted">Ввод количества авторских листов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z30" class="col-10 col-form-label col-form-label-sm">17. Редактирование научных трудов, учебников, учебных пособий</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z30" min="0"  value=0>
                            <small id="Z30" class="form-text text-muted">Ввод количества авторских листов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z32" class="col-10 col-form-label col-form-label-sm">18. Командировки, связанные с выполнением научной работы</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z32" min="0"  value=0>
                            <small id="Z32" class="form-text text-muted">Ввод количества дней командировки.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">19. Участие в изобретательской и рационализаторской работе </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z34" min="0"  value=0>
                            <small id="Z34" class="form-text text-muted">Ввод количества заявок.</small>
                            <input type="number" class="form-control form-control-sm" id="Z35" min="0"  value=0>
                            <small id="Z35" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Z37" class="col-10 col-form-label col-form-label-sm">20. Научное руководство соискателями, прикрепленными приказом начальника военно-учебного заведения </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Z37" min="0"  value=0>
                            <small id="Z37" class="form-text text-muted">Ввод количества соискателей.</small>
                        </div>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center panel_buttom">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-outline-dark" form="science_form_id">СОХРАНИТЬ РЕЗУЛЬТАТ</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}