{% extends "base.html" %}
{% block name_page %}<i class="fas fa-calculator"></i>&nbsp;&nbsp;<i class="fas fa-graduation-cap"></i>&nbsp;&nbsp;Учебная работа {% endblock name_page %}
{% block content %}
    <div class="container-fluid my-2">
        <div class="row d-flex justify-content-center">
            <form method="post" action="" id="academic_form_id" style="min-width: 100%">{% csrf_token %}
                <div style="margin-bottom: 90px">
                    <div class="form-group row">
                        <label for="G1" class="col-10 col-form-label col-form-label-sm">Количество часов</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="G1" min="0"  value=0>
                            <small id="G1" class="form-text text-muted">Ввод количества часов.</small>
                        </div>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center panel_buttom">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-outline-dark" form="academic_form_id">СОХРАНИТЬ РЕЗУЛЬТАТ</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}