{% extends "base.html" %}
{% block name_page %}<!--suppress ALL -->
    <i class="fas fa-calculator"></i>&nbsp;&nbsp;<i class="fas fa-book"></i>&nbsp;&nbsp;Методическая работа{% endblock name_page %}
{% block content %}
    <div class="container-fluid my-2">
        <div class="row d-flex justify-content-center">
            <form method="post" action="" id="methodical_form_id">{% csrf_token %}
                <div style="margin-bottom: 90px">
                    <div class="form-group row">
                        <label for="Y1" class="col-10 col-form-label col-form-label-sm">1. Разработка программ учебных дисциплин по вновь вводимым учебным дисциплинам и подготовка их к изданию</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y1" value=0>
                            <small id="Y1" class="form-text text-muted">Ввод часов дисциплины.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y2" class="col-10 col-form-label col-form-label-sm">2. Переработка программ учебных дисциплин и подготовка их к изданию</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y2" value=0>
                            <small id="Y2" class="form-text text-muted">Ввод часов дисциплины.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y4" class="col-10 col-form-label col-form-label-sm">3. Разработка тематических планов изучения учебных дисциплин</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y4" value=0 >
                            <small id="Y4" class="form-text text-muted">Ввод часов дисциплины.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y6" class="col-10 col-form-label col-form-label-sm">4. Разработка лекций военных (военно-специальных) игр по вновь вводимой дисциплине и подготовка их к изданию</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y6-Y8"  onchange="trigger_el([Y6.id, Y8.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Y6" value=0>
                            <small id="Y6" class="form-text text-muted">Ввод количества лекций.</small>
                        </div>
                        <label for="Y8" class="col-10 col-form-label col-form-label-sm">4.1 Тактические и тактико-специальные дисциплины</label>
                        <div class="col-2 my-1">
                            <input type="radio" name="Y6-Y8"  value="Y8" onchange="trigger_el([Y8.id, Y6.id])">
                            <input type="number" class="form-control form-control-sm" id="Y8" value=0 disabled>
                            <small id="Y8" class="form-text text-muted">Ввод количества лекций.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y10" class="col-10 col-form-label col-form-label-sm">5. Переработка лекций и подготовка их к изданию</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y10-Y12"  onchange="trigger_el([Y10.id, Y12.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Y10" value=0>
                            <small id="Y10" class="form-text text-muted">Ввод количества лекций.</small>
                        </div>
                        <label for="Y12" class="col-10 col-form-label col-form-label-sm">5.1 Тактические и тактико-специальные дисциплины</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y10-Y12"  onchange="trigger_el([Y12.id, Y10.id])">
                            <input type="number" class="form-control form-control-sm" id="Y12" value=0 disabled>
                            <small id="Y12" class="form-text text-muted">Ввод количества лекций.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y14" class="col-10 col-form-label col-form-label-sm">6. Разработка планов для проведения семинаров</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y14" value=0>
                            <small id="Y14" class="form-text text-muted">Ввод количества планов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">7. Разработка и подготовка к изданию учебно-методических материалов (УММ) для проведения занятий по всем видам учебных дисциплин, кроме тактических и тактико-специальных дисциплин (без ЭВМ)</label>
                        <label for="Y16" class="col-10 col-form-label col-form-label-sm">7.1 Издание</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y16-Y18"  onchange="trigger_el([Y16.id, Y18.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Y16" value=0>
                            <small id="Y16" class="form-text text-muted">Ввод количества занятий.</small>
                        </div>
                        <label for="Y18" class="col-10 col-form-label col-form-label-sm">7.2 Переиздание</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y16-Y18"  onchange="trigger_el([Y18.id, Y16.id])">
                            <input type="number" class="form-control form-control-sm" id="Y18" value=0 disabled>
                            <small id="Y18" class="form-text text-muted">Ввод количества занятий.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y20" class="col-10 col-form-label col-form-label-sm">8. Разработка описаний и подготовка УММ для проведения новых лабораторных работ</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y20" value=0>
                            <small id="Y20" class="form-text text-muted">Ввод количества ЛР.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y22" class="col-10 col-form-label col-form-label-sm">9. Переработка описаний и модернизация лабораторных работ</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y22" value=0>
                            <small id="Y22" class="form-text text-muted">Ввод количества ЛР.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y26" class="col-10 col-form-label col-form-label-sm">10. Разработка заданий на контрольные работы (по тактико-специальным/по др. учебным дисциплинам)</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y26-Y24"  onchange="trigger_el([Y26.id, Y24.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Y26" value=0>
                            <small id="Y26" class="form-text text-muted">Ввод количества заданий.</small>
                        </div>
                        <label for="Y24" class="col-10 col-form-label col-form-label-sm">10.1 Тактические и тактико-специальные дисциплины</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y26-Y24"  onchange="trigger_el([Y24.id, Y26.id])">
                            <input type="number" class="form-control form-control-sm" id="Y24" value=0 disabled>
                            <small id="Y24" class="form-text text-muted">Ввод количества заданий.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y28" class="col-10 col-form-label col-form-label-sm">11. Разработка методических материалов для выполнения дипломных (курсовых) работ (проектов) макетов учебных дел</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y28" value=0>
                            <small id="Y28" class="form-text text-muted">Ввод количества заданий.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y30" class="col-10 col-form-label col-form-label-sm">12. Разработка для слушателей заочников новых методических указаний по изучению учебной дисциплины (курса) с заданиями и контрольными работами</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y30" value=0>
                            <small id="Y30" class="form-text text-muted">Ввод часов дисциплины.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y32" class="col-10 col-form-label col-form-label-sm">13. Переработка для слушателей заочников новых методических указаний по изучению учебной дисциплины (курса) с заданиями и контрольными работами</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y32" value=0>
                            <small id="Y32" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">14. Разработка дидактических материалов для применения технических средств обучения</label>
                        <label for="Y33" class="col-10 col-form-label col-form-label-sm">14.1 Литературный сценарий для учебного кинофильма</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y33-Y35-Y37-Y39-Y40"  onchange="trigger_el([Y33.id, Y35.id, Y37.id, Y39.id, Y40.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Y33" value=0>
                            <small id="Y33" class="form-text text-muted">Ввод количества частей.</small>
                        </div>
                        <label for="Y35" class="col-10 col-form-label col-form-label-sm">14.2 Литературный сценарий для учебного кинофрагмента</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y33-Y35-Y37-Y39-Y40"  onchange="trigger_el([Y35.id, Y33.id, Y37.id, Y39.id, Y40.id])">
                            <input type="number" class="form-control form-control-sm" id="Y35" value=0 disabled>
                            <small id="Y35" class="form-text text-muted">Ввод количества кинофрагментов.</small>
                        </div>
                        <label for="Y37" class="col-10 col-form-label col-form-label-sm">14.3 Кинопланы диафильмов и диапозитивов, включая съемку</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y33-Y35-Y37-Y39-Y40"  onchange="trigger_el([Y37.id, Y35.id, Y33.id, Y39.id, Y40.id])">
                            <input type="number" class="form-control form-control-sm" id="Y37" value=0 disabled>
                            <small id="Y37" class="form-text text-muted">Ввод количества диафильмов.</small>
                        </div>
                        <label for="Y39" class="col-10 col-form-label col-form-label-sm">14.4 Диапособия и другие дидактические материалы</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y33-Y35-Y37-Y39-Y40"  onchange="trigger_el([Y39.id, Y35.id, Y37.id, Y33.id, Y40.id])">
                            <input type="number" class="form-control form-control-sm" id="Y39" value=0 disabled>
                            <small id="Y39" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                        <label for="Y40" class="col-10 col-form-label col-form-label-sm">14.5 Слайдов в программах ЭВМ</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y33-Y35-Y37-Y39-Y40"  onchange="trigger_el([Y40.id, Y35.id, Y37.id, Y39.id, Y33.id])">
                            <input type="number" class="form-control form-control-sm" id="Y40" value=0 disabled>
                            <small id="Y40" class="form-text text-muted">Ввод количества слайдов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y42" class="col-10 col-form-label col-form-label-sm">15. Разработка УММ для проведения всех видов учебных занятий (с использованием ЭВМ)</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y42" value=0>
                            <small id="Y42" class="form-text text-muted">Ввод количества занятий.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y44" class="col-10 col-form-label col-form-label-sm">16. Переработка и подготовка к изданию УММ для проведения занятий с использованием ЭВМ</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y44" value=0>
                            <small id="Y44" class="form-text text-muted">Ввод количества занятий.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y46" class="col-10 col-form-label col-form-label-sm">17. Разработка материалов для приема вступительных экзаменов от кандидатов поступающих в военно-учебные заведения </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y46" value=0>
                            <small id="Y46" class="form-text text-muted">Ввод количества комплектов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y48" class="col-10 col-form-label col-form-label-sm">18. Разработка материалов для приема экзаменов (зачетов) от курсантов  </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y48" value=0>
                            <small id="Y48" class="form-text text-muted">Ввод часов дисциплины.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y50" class="col-10 col-form-label col-form-label-sm">19. Разработка учебных наглядных пособий (плакатов, схем, стендов, макетов) </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y50" value=0>
                            <small id="Y50" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y51" class="col-10 col-form-label col-form-label-sm">20. Создание и совершенствование учебно-материальной базы </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y51" value=0>
                            <small id="Y51" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">21. Подготовка к чтению лекции, включая разработку плана</label>
                        <label for="Y52" class="col-10 col-form-label col-form-label-sm">21.1 Вновь вводимая лекция</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y52-Y522"  onchange="trigger_el([Y52.id, Y522.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Y52" value=0>
                            <small id="Y52" class="form-text text-muted">Ввод часов лекций.</small>
                        </div>
                        <label for="Y522" class="col-10 col-form-label col-form-label-sm">21.2 Ранее читаемая  лекция</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y52-Y522"  onchange="trigger_el([Y522.id, Y52.id])">
                            <input type="number" class="form-control form-control-sm" id="Y522" value=0 disabled>
                            <small id="Y522" class="form-text text-muted">Ввод часов лекций.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">22. Подготовка к проведению семинаров, практических занятий и групповых упражнений по всем учебным дисциплинам кроме тактических и тактико специальных дисциплин, включая разработку плана проведения занятия  </label>
                        <label for="Y54" class="col-10 col-form-label col-form-label-sm">22.1 Вновь вводимое занятие без применения ЭВМ</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y54-Y56-Y58-Y60"  onchange="trigger_el([Y54.id, Y56.id, Y58.id, Y60.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Y54" value=0>
                            <small id="Y54" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                        <label for="Y56" class="col-10 col-form-label col-form-label-sm">22.2 Вновь вводимое занятие c применением ЭВМ</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y54-Y56-Y58-Y60"  onchange="trigger_el([Y56.id, Y54.id, Y58.id, Y60.id])">
                            <input type="number" class="form-control form-control-sm" id="Y56" value=0 disabled>
                            <small id="Y56" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                        <label for="Y58" class="col-10 col-form-label col-form-label-sm">22.3 Ранее отрабатываемое занятие без применения ЭВМ</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y54-Y56-Y58-Y60"  onchange="trigger_el([Y58.id, Y56.id, Y54.id, Y60.id])">
                            <input type="number" class="form-control form-control-sm" id="Y58" value=0 disabled>
                            <small id="Y58" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                        <label for="Y60" class="col-10 col-form-label col-form-label-sm">22.4 Ранее отрабатываемое занятие с применением ЭВМ</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y54-Y56-Y58-Y60"  onchange="trigger_el([Y60.id, Y56.id, Y58.id, Y54.id])">
                            <input type="number" class="form-control form-control-sm" id="Y60" value=0 disabled>
                            <small id="Y60" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">23. Подготовка к проведению семинаров, групповых упражнений по тактическим и тактико-специальным дисциплинам, а так же учений, КШУ, военных игр, включая разработку плана  </label>
                        <label for="Y62" class="col-10 col-form-label col-form-label-sm">23.1 Тематика: отделение, взвод, рота (батарея), батальон (дивизион)</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y62-Y64-Y66"  onchange="trigger_el([Y62.id, Y64.id, Y66.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Y62" value=0>
                            <small id="Y62" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                        <label for="Y64" class="col-10 col-form-label col-form-label-sm">23.2 Тематика: полк (бригада), дивизия</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y62-Y64-Y66"  onchange="trigger_el([Y64.id, Y62.id, Y66.id])">
                            <input type="number" class="form-control form-control-sm" id="Y64" value=0 disabled>
                            <small id="Y64" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                        <label for="Y66" class="col-10 col-form-label col-form-label-sm">23.3 Тематика: оперативно-территориальное объединение</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y62-Y64-Y66"  onchange="trigger_el([Y66.id, Y64.id, Y62.id])">
                            <input type="number" class="form-control form-control-sm" id="Y66" value=0 disabled>
                            <small id="Y66" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">24. Подготовка к проведению лабораторных занятий   </label>
                        <label for="Y68" class="col-10 col-form-label col-form-label-sm">24.1 Вновь введенные занятия</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y68-Y70"  onchange="trigger_el([Y68.id, Y70.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Y68" value=0>
                            <small id="Y68" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                        <label for="Y70" class="col-10 col-form-label col-form-label-sm">24.2 Ранее проводимые занятия</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y68-Y70"  onchange="trigger_el([Y70.id, Y68.id])">
                            <input type="number" class="form-control form-control-sm" id="Y70" value=0 disabled>
                            <small id="Y70" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">25. Контрольные посещения начальником кафедры, заместителем начальника кафедры, и профессором учебных занятий, проводимых доцентами, старшими преподавателями, ассистентами и преподавателями   </label>
                        <label for="Y721" class="col-10 col-form-label col-form-label-sm">25.1 Кафедра численностью до 10 человек</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y72"  onchange="trigger_el([Y721.id, Y722.id, Y723.id, Y724.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Y721" value=0>
                            <small id="Y721" class="form-text text-muted">Ввод количества контролируемых преподавателей.</small>
                        </div>
                        <label for="Y722" class="col-10 col-form-label col-form-label-sm">25.2 Кафедра численностью до 15 человек</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y72"  onchange="trigger_el([Y722.id, Y721.id, Y723.id, Y724.id])">
                            <input type="number" class="form-control form-control-sm" id="Y722" value=0 disabled>
                            <small id="Y722" class="form-text text-muted">Ввод количества контролируемых преподавателей.</small>
                        </div>
                        <label for="Y723" class="col-10 col-form-label col-form-label-sm">25.3 Кафедра численностью до 20 человек</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y72"  onchange="trigger_el([Y723.id, Y722.id, Y721.id, Y724.id])">
                            <input type="number" class="form-control form-control-sm" id="Y723" value=0 disabled>
                            <small id="Y723" class="form-text text-muted">Ввод количества контролируемых преподавателей.</small>
                        </div>
                        <label for="Y724" class="col-10 col-form-label col-form-label-sm">25.4 Кафедра численностью 21 человека и более</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y72"  onchange="trigger_el([Y724.id, Y722.id, Y723.id, Y721.id])">
                            <input type="number" class="form-control form-control-sm" id="Y724" value=0 disabled>
                            <small id="Y724" class="form-text text-muted">Ввод количества контролируемых преподавателей.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y75" class="col-10 col-form-label col-form-label-sm">26. Участие в научно-методических конференциях, сборах, совещаниях, семинарах, межкафедральных заседаниях и заседаниях кафедры, предметно-методических комиссий,показных и пробных занятиях   </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y75" value=0>
                            <small id="Y75" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y76" class="col-10 col-form-label col-form-label-sm">27. Участие в заседаниях методических комиссий военно-учебного заведения   </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y76" value=0>
                            <small id="Y76" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y77" class="col-10 col-form-label col-form-label-sm">28. Учеба профессорско-преподавательского состава на курсах повышения квалификации, стажировка в войсках (в том числе находящихся в районах вооруженных конфликтов)</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y77" value=0>
                            <small id="Y77" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y78" class="col-10 col-form-label col-form-label-sm">29. Командировки, связанные с выполнением методической работы</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y78" value=0>
                            <small id="Y78" class="form-text text-muted">Ввод дней командировки.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y80" class="col-10 col-form-label col-form-label-sm">30. Участие профессорско-преподавательского состава во внутривузовской системе повышения квалификации </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y80" value=0>
                            <small id="Y80" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y81" class="col-10 col-form-label col-form-label-sm">31. Разработка методических указаний по написанию рефератов, курсовых работ, дипломных работ (проектов)</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y81" value=0>
                            <small id="Y81" class="form-text text-muted">Ввод количества авторских листов.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y83" class="col-10 col-form-label col-form-label-sm">32. Разработка тематики (перечня тем) рефератов, курсовых работ(проектов), дипломных проектов (работ)</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y83" value=0>
                            <small id="Y83" class="form-text text-muted">Ввод количества единиц методического материала.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y85" class="col-10 col-form-label col-form-label-sm">33. Разработка программы по войсковой стажировке, производственной и другим видам практик </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y85" value=0>
                            <small id="Y85" class="form-text text-muted">Ввод количества единиц методического материала.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">34. Разработка к изданию:</label>
                        <label class="col-10 col-form-label col-form-label-sm">34.1 Учебно-методические материалы (планы, замыслы, задания и др.)
                                                                               для отработки учебных тактических и тактико-специальных задач или проведение тактических (тактико- специальных)
                                                                               учений, командно-штабных учений, военных (военно-специальных) игр, предусмотренных учебными планами и программами</label>
                        <label for="Y87" class="col-10 col-form-label col-form-label-sm">34.1.1 Тематика: отделение, взвод, рота (батарея)</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y87-Y89-Y91-Y93-Y95"  onchange="trigger_el([Y87.id, Y89.id, Y91.id, Y93.id, Y95.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Y87" value=0>
                            <small id="Y87" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                        <label for="Y89" class="col-10 col-form-label col-form-label-sm">34.1.2 Тематика: батальон (дивизион)</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y87-Y89-Y91-Y93-Y95"  onchange="trigger_el([Y89.id, Y87.id, Y91.id, Y93.id, Y95.id])">
                            <input type="number" class="form-control form-control-sm" id="Y89" value=0 disabled>
                            <small id="Y89" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                        <label for="Y91" class="col-10 col-form-label col-form-label-sm">34.1.3 Тематика: полк (бригада)</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y87-Y89-Y91-Y93-Y95"  onchange="trigger_el([Y91.id, Y89.id, Y87.id, Y93.id, Y95.id])">
                            <input type="number" class="form-control form-control-sm" id="Y91" value=0 disabled>
                            <small id="Y91" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                        <label for="Y93" class="col-10 col-form-label col-form-label-sm">34.1.4 Тематика: дивизия</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y87-Y89-Y91-Y93-Y95"  onchange="trigger_el([Y93.id, Y89.id, Y91.id, Y87.id, Y95.id])">
                            <input type="number" class="form-control form-control-sm" id="Y93" value=0 disabled>
                            <small id="Y93" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                        <label for="Y95" class="col-10 col-form-label col-form-label-sm">34.1.5 Тематика:оперативно-территориальное объединение</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y87-Y89-Y91-Y93-Y95"  onchange="trigger_el([Y95.id, Y89.id, Y91.id, Y93.id, Y87.id])">
                            <input type="number" class="form-control form-control-sm" id="Y95" value=0 disabled>
                            <small id="Y95" class="form-text text-muted">Ввод часов занятий.</small>
                        </div>
                        <label for="Y97" class="col-10 col-form-label col-form-label-sm">34.2 Разработка обучающих и контролирующих программ для проведения занятий с использованием вычислительной техники</label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y97" value=0>
                            <small id="Y97" class="form-text text-muted">Ввод количества единиц методического материала.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-10 col-form-label col-form-label-sm">35. Переработка и подготовка к изданию:</label>
                        <label for="Y99" class="col-10 col-form-label col-form-label-sm">35.1 Учебно-методических материалов, указанных в пункте 34 Приказа МВД России от 01.11.2005 N 880</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y99-Y100"  onchange="trigger_el([Y99.id, Y100.id])" checked>
                            <input type="number" class="form-control form-control-sm" id="Y99" value=0>
                            <small id="Y99" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                        <label for="Y100" class="col-10 col-form-label col-form-label-sm">35.2 Переработка обучающих и контролирующих программ для проведения занятий с использованием вычислительной техники</label>
                        <div class="col-2  my-1">
                            <input type="radio" name="Y99-Y100"  onchange="trigger_el([Y100.id, Y99.id])">
                            <input type="number" class="form-control form-control-sm" id="Y100" value=0 disabled>
                            <small id="Y100" class="form-text text-muted">Ввод фактических затрат времени.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Y101" class="col-10 col-form-label col-form-label-sm">36. Разработка материалов для приема экзаменов(зачетов) с использованием ЭВМ </label>
                        <div class="col-2  my-1">
                            <input type="number" class="form-control form-control-sm" id="Y101" value=0>
                            <small id="Y101" class="form-text text-muted">Ввод количества комплектов.</small>
                        </div>
                    </div>
                </div>
            </form>
            <div class="panel_buttom d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-outline-dark" form="methodical_form_id">СОХРАНИТЬ РЕЗУЛЬТАТ</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    function trigger_el(list_el){
        $('#' + list_el[0]).prop("disabled", false);
        {#$('#' + val2).attr("hidden", true).val(0);#}
        var index;
        for (index=1; index<list_el.length; ++index){
            $('#' + list_el[index]).prop("disabled", true).val(0);
        }
    }

    </script>
{% endblock content %}