{% extends "base.html" %}
{% block content %}
<div class="container-fluid my-2">
	<div class="row d-flex justify-content-center ">
		<div class="col-12 border">
			<p>
				Индивидуальный годовой бюджет рабочего времени определяется исходя из продолжительности еженедельного рабочего времени, оно равно 40 часам для штатного профессорско-преподавательского состава из числа военнослужащих и 36 часам для штатного профессорско-преподавательского состава из числа гражданского персонала.
			</p>
			<p>
				ИГБРВ состоит из следующих видов нагрузок:
			<p>– учебная нагрузка;</p>
			<p>– методическая нагрузка;</p>
			<p>– научная нагрузка;</p>
			<p>– командирская подготовка (повышение квалификации);</p>
			<p>– Выполнение специальных обязанностей в составе суточного наряда.</p>
			<p>
				Регламентирует порядок расчета <a href={% url "get_prikaz" %}>ИГБРВ Приказ МВД РФ от 01.11.2005 г. «Об утверждении Инструкции по планированию и учету труда профессорско-преподавательского состава, расчету учебной, методической, научной нагрузки и объема учебной работы военных образовательных учреждений высшего профессионального образования внутренних войск Министерства внутренних дел Российской Федерации »</a>		</p>
			
		
		</div>
	</div>
</div>
{% endblock content %}