{% extends "base.html" %}
{% block name_page %}<i class="far fa-book-open"></i>&nbsp;&nbsp;Отчет {% endblock name_page %}
{% block content %}
    <div class="container-fluid my-2" >
        <div class="row" style="margin-bottom: 60px">
            <div class="col-12">
                <h6>Учебная работа</h6>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">№ п/п</th>
                        <th scope="col">Виды работы</th>
                        <th scope="col">Учебный год</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Количество часов</td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <h6>Методическая работа</h6>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">№ п/п</th>
                        <th scope="col">Виды работы</th>
                        <th scope="col">Учебный год</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Разработка программ учебных дисциплин по вновь вводимым учебным дисциплинам и подготовка их
                            к изданию
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Переработка программ учебных дисциплин и подготовка их к изданию</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Разработка тематических планов изучения учебных дисциплин</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Разработка лекций военных (военно-специальных) игр по вновь вводимой дисциплине и подготовка
                            их к изданию
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">4.1</th>
                        <td>Тактические и тактико-специальные дисциплины</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Переработка лекций и подготовка их к изданию</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">5.1</th>
                        <td>Тактические и тактико-специальные дисциплины</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Разработка планов для проведения семинаров</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">7.1</th>
                        <td>Разработка планов для проведения семинаров (Издание)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">7.2</th>
                        <td>Разработка планов для проведения семинаров (Периздание)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Разработка описаний и подготовка УММ для проведения новых лабораторных работ</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Переработка описаний и модернизация лабораторных работ</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Разработка заданий на контрольные работы (по тактико-специальным/по др. учебным
                            дисциплинам)
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">10.1</th>
                        <td>Тактические и тактико-специальные дисциплины)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Разработка методических материалов для выполнения дипломных (курсовых) работ (проектов)
                            макетов учебных дел
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>Разработка для слушателей заочников новых методических указаний по изучению учебной
                            дисциплины (курса) с заданиями и контрольными работами
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>Переработка для слушателей заочников новых методических указаний по изучению учебной
                            дисциплины (курса) с заданиями и контрольными работами
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td colspan="2">Разработка дидактических материалов для применения технических средств
                            обучения
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">14.1</th>
                        <td>Литературный сценарий для учебного кинофильма</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">14.2</th>
                        <td>Литературный сценарий для учебного кинофрагмента</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">14.3</th>
                        <td>Кинопланы диафильмов и диапозитивов, включая съемку</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">14.4</th>
                        <td>Диапособия и другие дидактические материалы</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">14.5</th>
                        <td> Слайдов в программах ЭВМ</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td> Разработка УММ для проведения всех видов учебных занятий (с использованием ЭВМ)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td> Переработка и подготовка к изданию УММ для проведения занятий с использованием ЭВМ</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td> Разработка материалов для приема вступительных экзаменов от кандидатов поступающих в
                            военно-учебные заведения
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td> Разработка материалов для приема экзаменов (зачетов) от курсантов</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td> Разработка учебных наглядных пособий (плакатов, схем, стендов, макетов)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td> Создание и совершенствование учебно-материальной базы</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">21</th>
                        <td colspan="2"> Подготовка к чтению лекции, включая разработку плана</td>
                    </tr>
                    <tr>
                        <th scope="row">21.1</th>
                        <td> Вновь вводимая лекция</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">21.2</th>
                        <td> Ранее читаемая лекция</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td colspan="2">Подготовка к проведению семинаров, практических занятий и групповых упражнений
                            по всем учебным дисциплинам кроме тактических и тактико специальных дисциплин, включая
                            разработку плана проведения занятия
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">22.1</th>
                        <td> Вновь вводимое занятие без применения ЭВМ</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">22.2</th>
                        <td> Вновь вводимое занятие c применением ЭВМ</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">22.3</th>
                        <td> Ранее отрабатываемое занятие без применения ЭВМ</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">22.4</th>
                        <td> Ранее отрабатываемое занятие с применением ЭВМ</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">23</th>
                        <td colspan="2"> Подготовка к проведению семинаров, групповых упражнений по тактическим и
                            тактико-специальным дисциплинам, а так же учений, КШУ, военных игр, включая разработку плана
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">23.1</th>
                        <td> Тематика: отделение, взвод, рота (батарея), батальон (дивизион)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">23.2</th>
                        <td> Тематика: полк (бригада), дивизия</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">23.3</th>
                        <td> Тематика: оперативно-территориальное объединение</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">24</th>
                        <td colspan="2"> Подготовка к проведению лабораторных занятий</td>

                    </tr>
                    <tr>
                        <th scope="row">24.1</th>
                        <td> Вновь введенные занятия</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">24.2</th>
                        <td> Ранее проводимые занятия</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td colspan="2"> Контрольные посещения начальником кафедры, заместителем начальника кафедры, и
                            профессором учебных занятий, проводимых доцентами, старшими преподавателями, ассистентами и
                            преподавателями
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">25.1</th>
                        <td> Кафедра численностью до 10 человек</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">25.2</th>
                        <td> Кафедра численностью до 15 человек</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">25.3</th>
                        <td> Кафедра численностью до 20 человек</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">25.4</th>
                        <td> Кафедра численностью 21 человека и более</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">26</th>
                        <td> Участие в научно-методических конференциях, сборах, совещаниях, семинарах, межкафедральных
                            заседаниях и заседаниях кафедры, предметно-методических комиссий,показных и пробных занятиях
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">27</th>
                        <td> Участие в заседаниях методических комиссий военно-учебного заведения</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">28</th>
                        <td> Учеба профессорско-преподавательского состава на курсах повышения квалификации, стажировка
                            в войсках (в том числе находящихся в районах вооруженных конфликтов)
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">29</th>
                        <td> Командировки, связанные с выполнением методической работы</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">30</th>
                        <td> Участие профессорско-преподавательского состава во внутривузовской системе повышения
                            квалификации
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">31</th>
                        <td> Разработка методических указаний по написанию рефератов, курсовых работ, дипломных работ
                            (проектов)
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">32</th>
                        <td> Разработка тематики (перечня тем) рефератов, курсовых работ(проектов), дипломных проектов
                            (работ)
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">33</th>
                        <td> Разработка программы по войсковой стажировке, производственной и другим видам практик</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">34</th>
                        <td colspan="2"> Разработка к изданию</td>
                    </tr>
                    <tr>
                        <th scope="row">34.1</th>
                        <td colspan="2"> Учебно-методические материалы (планы, замыслы, задания и др.)
                            для отработки учебных тактических и тактико-специальных задач или проведение тактических
                            (тактико- специальных)
                            учений, командно-штабных учений, военных (военно-специальных) игр, предусмотренных учебными
                            планами и программами
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">34.1.1</th>
                        <td> Тематика: отделение, взвод, рота (батарея)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">34.1.2</th>
                        <td> Тематика: батальон (дивизион)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">34.1.3</th>
                        <td> Тематика: полк (бригада)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">34.1.4</th>
                        <td> Тематика: дивизия</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">34.1.5</th>
                        <td> Тематика:оперативно-территориальное объединение</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">34.2</th>
                        <td> Разработка обучающих и контролирующих программ для проведения занятий с использованием вычислительной техники</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">35</th>
                        <td colspan="2"> Переработка и подготовка к изданию</td>
                    </tr>
                    <tr>
                        <th scope="row">35.1</th>
                        <td> Учебно-методических материалов, указанных в пункте 34 Приказа МВД России от 01.11.2005 N 880</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">35.2</th>
                        <td> Переработка обучающих и контролирующих программ для проведения занятий с использованием вычислительной техники</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">36</th>
                        <td> Разработка материалов для приема экзаменов(зачетов) с использованием ЭВМ</td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-12">
                <h6>Научная деятельность</h6>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">№ п/п</th>
                        <th scope="col">Виды работы</th>
                        <th scope="col">Учебный год</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Выполнение плановых научных, научно-исследовательских опытно-конструкторских работ
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Разработка неоплачиваемых научных трудов, монографий, научных статей; подготовка докладов и научных сообщений на научных конференциях, научных совещаниях, семинарах и симпозиумах</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Разработка и подготовка к изданию учебников, предусмотренных планами издания</td>
                    </tr>
                    <tr>
                        <th scope="row">3.1</th>
                        <td>Издаваемое впервые</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">3.2</th>
                        <td>Переиздание</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td colspan="2">Разработка учебных пособий, и подготовка их к изданию</td>
                    </tr>
                    <tr>
                        <th scope="row">4.1</th>
                        <td>Издаваемое впервые</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">4.2</th>
                        <td>Переиздание</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Разработка и подготовка к изданию программированных учебных пособий </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Разработка и подготовка к изданию педагогических сценариев и алгоритмов функционирования автоматизированных обучающих систем </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Участие в разработке уставов, наставлений, положений, руководств, инструкций и других документов</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Участие в опытных и исследовательских учениях, в работе комиссий по приемке научных работ, испытаниях и приемке нового вооружения, военной техники и учебно-тренировочных средств</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Участие в научных (теоретических) конференциях, научных совещаниях, семенарах и симпозиумах</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Обобщение результатов научных конференций, научных совещаний семинаров, симпозиумов, опытных и исследовательских учений </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Участие в работе ученого совета военно-учебного заведения (факультета) и диссертационных советов /td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>Участие в работе конкурсных комиссий по рассмотрению научных работ, выполненных профессорско-преподавательским составом в военно-учебных заведениях</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td> Участие в работе конкурсных комиссий по рассмотрению научных работ слушателей и курсантов </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td colspan="2">Руководство военно-научной работой слушателей и курсантов
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">14.1</th>
                        <td>Разработка тем рефератов</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">14.2</th>
                        <td>Проведение экспериментальных работ</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td>Проведение научных консультаций с докторантами</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td>Рецензирование научных трудов и научно-исследовательских работ, диссертаций, учебников, учебных пособий, монографий, конкурсных материалов</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td> Редактирование научных трудов, учебников, учебных пособий</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td> Командировки, связанные с выполнением научной работы</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td> Участие в изобретательской и рационализаторской работе</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td> Научное руководство соискателями, прикрепленными приказом начальника военно-учебного заведения </td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h6>Командирская подготовка</h6>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">№ п/п</th>
                        <th scope="col">Виды работы</th>
                        <th scope="col">Учебный год</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Занятия по командирской подготовке
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Общие мероприятия (смотры, совещания, информирование и т.п)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Выполнение индивидуальных заданий </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Самостоятельная работа</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Физическая подготовка</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Повышение квалификации</td>
                         <td>0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h6>Другие виды работ</h6>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">№ п/п</th>
                        <th scope="col">Виды работы</th>
                        <th scope="col">Учебный год</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Несение службы в наряде</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Воспитательная работа с курсантами</td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <h6>Итого нагрузка</h6>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">0</th>
                    </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
{% endblock content %}